/*selektor pseudo-elementów*/

#p1::before {
    content: "przed elementem";
    color: red;
}

#p2::after {
    content: "po elemencie";
    color: pink;
}

#p3::first-letter {
    color: lightgreen;
    text-transform: capitalize;
}

#p4::first-line {
    color: yellow;
}

p::selection {
    background-color: peachpuff;
}


/*selektor pseudo-klas*/

a {
    text-decoration: none;
}

a:link {
    color: darkorange;
}

a:visited {
    color: darkgoldenrod;
}


/*pseudo-klasy dotyczące działań użytkownika*/

a:hover {
    color: royalblue;
}

a:active {
    color: yellow;
}

a:focus {
    color: firebrick;
}

#p1_2 {
    color: blue;
}

#p1_2:target {
    color: red;
}

p:lang(pl) {
    font-style: italic;
    color: thistle;
}

p:lang(es) {
    font-style: italic;
    color: olivedrab;
}

p:lang(de) {
    font-style: italic;
    color: dimgray;
}

div.klient:first-child {
    color: chartreuse;
}

div.klient:last-child {
    color: mediumvioletred;
}

div.klient:only-child {
    color: lightblue;
}

div.klient:empty{
    height: 30px;
    width: 30px;
    background-color: mediumblue
}

.klient:nth-child(even){
    background-color: beige;
}

.klient:nth-child(odd){
    background-color: darkgrey;
}

.klient:nth-child(14) {
    background-color: crimson;
}

.klient:nth-child(5n+12) {
    background-color: darkviolet;
}

.klient:nth-child(5n) {
    background-color: yellow;
}