/*selektor pseudo-elementów*/

#p1::before{
    content: "przed elementem";
    color: red;
}

#p2::after{
    content: "po elemencie";
    color: pink;        
}
#p3::first-letter{
    color: lightgreen;
    text-transform: capitalize;
}
#p4::first-line{
    color: yellow;
}
p::selection{
    background-color: peachpuff;
}

/*selektor pseudo-klas*/

a {
    text-decoration: none;
}

a:link {
    color: darkorange;
}

a:visited {
    color: darkgoldenrod;
}

/*pseudo-klasy dotyczące działań użytkownika*/

a:hover {
    color:royalblue;
}

a:active{
    color: yellow;
}

a:focus{
    color: firebrick;
}