.box {
    width: 150px;
    height: 150px;
    margin: 20px;
}

#box1 {
    background-color: red;
    transition: width 2s;
}

#box1:hover {
    width: 300px;
}

#box2 {
    background-color: green;
    transition: height 4s;
}

#box2:hover {
    height: 300px;
}

#box3 {
    background-color: blue;
}

#box3:hover {
    width: 300px;
    height: 300px;
}

#colors {
    background-color: yellow;
}

#colors:hover {
    background-color: firebrick;
}