.box {
    width: 300px;
    height: 150px;
    border: 1px solid red;
    margin: 60px;
}

#visible {
    color: gold;
    overflow: visible;
}

#hidden {
    color: hotpink;
    overflow: hidden;
}

#scroll {
    color: thistle;
    overflow: scroll;
}

#auto {
    color: palegreen;
    overflow: auto;
}
