#tlo_obrazek {
    background-color: fuchsia;
    background-image: url("../img/truskawka.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}

